*
*::before
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align:center ;
}
body{
    background: linear-gradient(90deg, #ffffff , #7584f1 , #000000);
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius:50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad
        #23a2f6
    );
    left: -80px;
    top: -80px;

}
.shape:last-child{
    background: linear-gradient(
        #ff512f
        #f09818
    );
    right: -30px;
    bottom: -80px;

}
form{
    height: 500px;
    width: 350px;
    /* background-color: rgba(7, 223, 252, 0.158); */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 54%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(126, 106, 106,0.1);
    box-shadow: 0 0 40px rgb(199, 160, 160,0.6);
    padding: 50px 35px;
}
form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center
}
::placeholder{
    color: #1462d8;
}
button{
    margin-top: 40px;
    width: 100%;
    background-color: aliceblue;
    color: #000000;
    padding: 15px 0;
    font-size: 18;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
    margin-top: 30px;
    display: flex;
}
.social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: grey;
    color: rgb(11, 139, 250);
    text-align: center;
}
.social div:hover{
    background-color: grey;
}
.social .fb{
    margin-left: 25px;
}
.social i{
    margin-right: 4px;
}
input{
    height: 50px;
    margin-top: 14px;
    font-weight: 300;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 0 10px;
}
label{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
